@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* background */
#bg {
    position: absolute;
    z-index: -1;
}
#bgImg {
    width: 120%;
}
#bgBx {
    background: linear-gradient(0deg, black, #5454541c, #1e1e1e);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}


/* enter nickname */
#nicknameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s scale, 2s opacity;
}
#nicknameSection h1{
    font-size: 50px;
    margin-top: 50px;
}
#nicknameCondition {
    margin-top: 60px;
    font-size: 23px;
    color: red;
}
#enterNickname {
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 28px;
}
#enterNickname:focus {
    box-shadow: 2px 2px 13px 2px #ffffff66;
}
#submitNicknameBtn {
    width: 200px;
    height: 80px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 6px;
    border: 0;
    transition: 500ms box-shadow;
    margin-top: 50px;
}
#submitNicknameBtn:hover {
    box-shadow: 2px 2px 13px 2px #ffffff66;
}


/* building ship */
#buildShip{
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    scale: 0.0001;
    transition: 2s scale 350ms ease-out, 2s top 350ms ease-out;
}
#buildShip h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    position: absolute;
    left: 40%;
    margin: 0;
    top: 15px;
}
#buildGarageOverLap {
    height: 100vh;
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 280px;
    z-index: 0;
}
#buildGarage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    position: absolute;
    left: 300px;
    top: 100px;
}
.shipsInGarage {
    width:  60px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
}
.shipsGarageBx{
    background-color: blue;
    height: 60px;
    width: 60px;
}
.shipInGarageBxImg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

#arrowBx {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 520px;
    top: 143px;
    width: 180px;
}
#arrowBx div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.arrow{
    width: 60px;
    color: white;
    cursor: pointer;
}
#arrowLeft {
    transform: rotate(-90deg);
}
#arrowRight {
    transform: rotate(90deg);
}
#arrowDown {
    transform: rotate(180deg);
}

#rotateShipButton {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 42px;
    box-shadow: #000000 1px 0px 9px 0px;
    cursor: pointer;
    border: 0;
    width: 225px;
    height: 90px;
    position: absolute;
    left: 500px;
    top: 350px;
    border-radius: 8px;
}
#saveShipButton{
    color: black;
    font-size: 50px;
    background-color: white;
    box-shadow: #000000 1px 0px 9px 0px;
    cursor: pointer;
    border: 0;
    width: 225px;
    height: 90px;
    position: absolute;
    left: 500px;
    top: 500px;
    border-radius: 8px;
}
.saveShipAnimation{
    animation: saveShipButtonAnimation 1s ease  1 forwards;
}
#saveButtonOverLap, #rotateButtonOverLap {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 490px;
    top: 500px;
    background-color: transparent;
    z-index: 10;
}

#rotateButtonOverLap{
    top: 345px;
}
#buildShipContinue{
    display: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 42px;
    box-shadow: #000000 1px 0px 9px 0px;
    cursor: pointer;
    border: 0;
    width: 225px;
    height: 90px;
    position: absolute;
    left: 500px;
    top: 650px;
    border-radius: 8px;
}

#buildArea {
    height: auto;
    width: 662px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    position: absolute;
    left: 800px;
    top: 130px;
    background-color: black;
}
#buildAreaRow, #myAreaRow, #enemyAreaRow{
    width: 660px;
    height: 60px;
    display: flex;
}
#buildAreaColumn, #myAreaColumn, #enemyAreaColumn{
    display: flex;
    flex-direction: column;
}
.buildSquareRow, .buildSquareColumn, .mySquareRow, .mySquareColumn, .enemySquareRow, .enemySquareColumn {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buildBoard, #myBoard, #enemyBoard{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    background-color: black;
}



/* game */
#game{
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    scale: 0.0001;
    transition: 2s scale 350ms ease-out, 2s top 350ms ease-out;
}

#playersTurn{
    display: flex;
    position: absolute;
    left: 660px;
    top: 20px;
}
#myIcon, #enemyIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playersTurnArrowBx {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#playersTurnArrow {
    height: 70%;
    transform: rotate(270deg);
    transition: transform 800ms ease-in-out;
}
.iconImg {
    height: 70%;
}
.iconName {
    font-size: 20px;
    margin-top: 5px;
}



#game h2{
    position: absolute;
    top: 150px;
    margin: 0;
    font-size: 40px;
}
#game h2:first-of-type{
    left: 350px;
}
#game h2:last-of-type{
    left: 1180px;
}

#myArea, #enemyArea {
    height: auto;
    width: 662px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    background-color: black;
    position: absolute;
    top: 210px;
}
#myArea {
    left: 150px;
}
#enemyArea {
    left: 950px;
}

.mySquare,
.enemySquare, .buildSquare {
    border: 1px solid white;
}

.myShips, .enemyShips{
    width:  60px;
    position: absolute;
    transform-origin: 30px 30px;
    z-index: 10;
}

.myShipsBx, .enemyShipsBx {
    background-color: blue;
    height: 60px;
    width: 60px;
}

.myShipsBxImg, .enemyShipsBxImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.enemyShipsImg {
    transform: rotate(90deg);
    width: 240px;
    height: 60px;
    position: absolute;
    left: -91px;
    top: 90px;
}

#nicknameSection {
    display: none;
}
#game {
    scale: 1;
    top: 0;
}


@keyframes saveShipButtonAnimation {
    0% {
        box-shadow: #000000 1px 0px 9px 0px;
    }
    50%{
        box-shadow: red 1px 0px 20px 20px;
    }
    100%{
        box-shadow: #000000 1px 0px 9px 0px;
    }
}


@keyframes arrowTurn {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(90deg);
    }
}