@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    overflow: hidden;
}

/* background */
#bg {
    position: absolute;
    z-index: -1;
}
#bgImg {
    width: 120%;
}
#bgBx {
    background: linear-gradient(0deg, black, #5454541c, #1e1e1e);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

/* start menu */
#startMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#startMenu h1 {
    font-size: 115px;
    
}
#startMenu h1:hover{
    background-image: linear-gradient(
        90deg,
        #2d00f7,
        #c200f7,
        #ec7d10,
        #30f2f2,
        #7cb518
    );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: headerAnimation 500ms linear infinite;
}
#startMenu > div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.buttonBx {
    height: 100px;
    width: 235px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#playGameMenu,
#startTutorial {
    color: white;
    font-size: 45px;
    background-color: transparent;
    box-shadow: #000000 1px 0px 9px 0px;
    cursor: pointer;
    border: 0;
    width: 225px;
    height: 90px;
    position: relative;

    z-index: 3;
}
#playGameMenu:hover,
#startTutorial:hover{
    background-color: #000000;
}
.spinBx {
    background: linear-gradient(
        90deg,
        #2d00f7,
        #c200f7,
        #ec7d10,
        #30f2f2,
        #7cb518
    );
    display: none;
    position: absolute;
    height: 260px;
    width: 260px;
    scale: 1.75;
    z-index: 2;

    animation: spin 500ms linear infinite;
}

a{
    text-decoration: none;
}


@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
@keyframes headerAnimation {
    from {
        background-position: 0px;
    }
    to {
        background-position: 556px;
    }
}


